.gagContainer {
	width: 50vw;
	height: 30vh;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border-style: solid;
	border-radius: 40px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.gagContent {
	font-style: italic;
	text-align: center;
	text-shadow: 20;
}